    <form class="checks">
      <label class="question">
        <p>自分自身に厳しくする気持ちが強く、いつもきちんとしている。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>その場の状況にあわせて柔軟に対応することは得意である。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>得た知識や情報をよく考えて分析することが好きだ。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>いつもいろいろな可能性をさがしている。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>大変そうなことであっても、たいていのことは受け入れられる。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>目上の人であっても言うべきことは臆病にならず主張する。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>物事を決める時、皆の意見を尊重して総意を得てからまとめたい。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>個性的であることやユニークさを発揮することは何より大切だと思う。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>自分のことは後回しにしても他人のお世話をすることがよくある。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>名誉や地位を得るためには競争することを避けて通れないと思う。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>細かいところまできちんとしていないと落ち着かない。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>波風の立ちそうな状況からは身を引こうとする。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>持っている情報や知識、時間はできるだけ自分のために使いたい。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>自分のことを本当に理解してくれる人は少ないと思う。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>用心深く、いろいろなことを気にかけたり心配したりする。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>多少強引でも自分の思い通りに物事をおしすすめようとする。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>物事を軽くとらえて詰めが甘くなることがある。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>親密で愛情に満ちた人間関係はなにより大切だと思う。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>任されたことは忠実にその責任を果たそうとする。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>ゆったりとしたペースが好きで、慌てることは少ない。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>段取り上手で、手際よくなんでもそつなくこなすほうだ。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>一段上の目標を設定し、自己を向上させるために努力する。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>社交的で周囲にも自分にとっても楽しい場を作ろうとする。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>関心があることに集中するためにも、一人になる時間は必要だ。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>自分なりの美意識、感性をひそかに誇りにしている。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>他人が求めていることがよくわかり、それに応えようとする。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>困難な局面に対しては、傷つくことを恐れずに立ち向かう。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>自己主張することをせず、人の言いなりになるきらいがある。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>気分屋で、あまのじゃくのところが顔を出すことがある。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>物事の判断、決断をする時、信頼する人の承認が得られると安心できる。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>人に頼らなければならない状況は好まない。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>自分の感情や気持ちを率直に表現することは苦手だ。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>他人が良い評価や賞賛をしてくれて初めて成功したと実感できる。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>理屈っぽくて親しみのない会話はできれば避けたい。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>他人のいきとどいてないところにすぐに気づいてしまう。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>興味ある新しいものにいろいろと手を出してしてしまうことがある。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>他人の目や思惑はあまり気にせずに行動する。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>物事の明るく楽しい面を見出そうとする。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>たとえ悲しいことであっても感動できることは素晴らしい。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>決められているルールや約束はきちんと守る。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>他人への同情心がすぐに湧いてくる。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>目立たず気取らず穏やかでおっとりとしている。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>感情に振り回されることは少なく、冷静で客観的である。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>目標を立てたらすぐに行動する。いわゆる走りながら考えるタイプだ。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>人とは分けへだてなく公平公正に接する。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>どんな結果を出すかより、一緒にやる仲間の気持ちを優先させる。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>やられたら、やり返そうという気がおこる。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>よい結果が得られないと、あの時ああしておけばよかったと思う。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>仕事を最優先に考え、自分だけでなく周りに対しても早くするようせきたてる。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>物事の悲観的側面に惹かれるところがある。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>苦しいこと、辛いことはなんとか避けようとする。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>面倒くさがりで、急がなくて良いことは後回しにしてしまう。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>考えがまとまらないうちは行動に移りにくい。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>調和の保っている状態が維持されていると安心できる。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>感受性が豊かで表面からは知りにくい微妙な心の動きや感情の変化に敏感である。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>人とすぐに打ち解けて親しみを込めて接する。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>人との接し方はありのままで飾り気がなく、よく人を受け入れる。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>現在あるがままでだいたい満足している。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>身内をかばう親分肌のところがある。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>節度をわきまえていて、ていねいな態度をいつもとる。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>物事を効率よくこなし、成果を出すことが何より大切だ。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>周りの人が良い状態でいるかいつも気を配る。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>よく考えてから行動に移す、慎重で控えめなタイプである。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>ほどほどの出来栄えであれば、まあいいかと思える。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>考えすぎて理屈っぽくなることがある。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>物事の白黒をはっきりつけようとする。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>過去に味わった感情をフッと再体験することがある。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>ハメを外せず、カタブツとかまじめすぎると言われたことがある。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>親切にしたことに対して反応が返ってこないと気分が悪い。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>他人から好意を持たれ、仲間として迎え入れられることは大切だ。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>物事はなるようにしかならないと考えている。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>自分がやり手であるというイメージを持ってもらうことは大切だ。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>論理的に考えを組み立てたり、物事の本質を追求することが得意だ。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>相手を立てようとする義理がたいところがある。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>ついついおせっかいをしてしまうところがある。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>やるべきことが正確に行なえるように時間配分をしっかりとたてる。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>リーダー役は得意で、いつのまにか仕切っていることが多い。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>内面にある感性をいろいろな手法を使って表現することが好きだ。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>明るくエネルギッシュで行動的である。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>たいていのことには自信があり、堂々と振るまう。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>


      <label class="question">
        <p>同じことの繰り返しでも我慢強く続けられる。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>顔にはださないようにしているが、イライラすることが時々ある。</p>
        <input class="checks_one" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>その場の風向きには目ざとく反応し、勝ち馬志向のところがある。</p>
        <input class="checks_three" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>社交の場ですぐに打ち解けるより、しばらくは周囲の様子を観察している。</p>
        <input class="checks_five" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>同じ事を繰り返しやる作業は苦手である。</p>
        <input class="checks_seven" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>自分はたいした人間ではないと思っているところがある。</p>
        <input class="checks_nine" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>人の上に立ち指示することが多い。</p>
        <input class="checks_eight" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>予期しないことに遭遇すると、どうしたらよいか途惑う。</p>
        <input class="checks_six" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>組織のルールに縛られて行動することに煩わしさを感じることがある。</p>
        <input class="checks_four" type="checkbox" name="lang" >
      </label>
      <label class="question">
        <p>人を喜ばせたり、ほめたりする言葉をよくかける。</p>
        <input class="checks_two" type="checkbox" name="lang" >
      </label>
      <div class="sum-btn">
        <button id="btn" type="button">診断する</button>
      </div>
    </form>