<h1>ここはエニアグラムのindexページです。</h1>

<div class="devise-logout">
  <span><%= current_user.nickname %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
  </span>
</div>


