.top-bar{
  display: flex;
  height: 50px;
  background-color: rgb(62, 62, 62);
}

.top-bar-title{
  display: flex;
  width: 300px;
}

.top-bar-title a{
  margin: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.top-bar-btn{
  width: calc(100% - 300px);
  display: flex;
  align-items: center;
}

  .top-bar-btn a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.976);
  }