<div class="top-bar">
  <div class="top-bar-title">
    <%= link_to "sharing_personality", "/" %>
  </div>
  <div class="top-bar-btn">
    <p> <%= link_to "もう一度診断する", edit_enneagram_path(@enneagram_user) %> </p>
  </div>
</div>