<div class="top-bar">
  <div class="top-bar-title">
    <%= link_to "sharing_personality", "/" %>
  </div>
  <div class="top-ba-btn">
    <p> <%= link_to "トップページ", root_path %> </p>
    <p> <%= link_to "エニアグラム診断", new_enneagram_path %> </p>
    <p> <%= link_to "エニアグラムとは", "#" %> </p>
  </div>
</div>