.center{
  height: calc(100% - 30px);
  display: flex;
  overflow: scroll;
}
.side{
  width: 250px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.side-tops{
  text-decoration: none;
  color: rgb(139, 27, 27);
}

.side-top{
  height: 200px;
  border: solid 2px rgb(211, 178, 178);
  margin-top: 50px;
}

.current-user-name{
  font-size: 108%;
  padding: 15px 0px;
}

.type-title{
  font-size: 20px;
}

.current-user-type{
  font-size: 30px;
  padding: 0 0 10px 0;
  margin: 0 10px 10px 10px;
}

.index-logout{
  color: rgb(139, 27, 27);
}
.user-title{
  width: 100%;
  text-align: center;
  background-color: rgb(248, 239, 239);
}

.users-info{
  padding: 10px 0;
  color: rgb(179, 45, 45);
}

.user-info{
  text-decoration: none;
  color: rgb(179, 45, 45);
}
.side-bottom{
  height: calc(100% - 200px);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  border: solid 2px rgb(211, 178, 178);
  overflow: scroll;
}

.main-right{
  width: calc(100% - 250px);
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  margin-top: 50px;
  overflow-y: scroll;
}

.main-title{
  height: 10%;
  color: rgb(85, 0, 0);
  text-align: center;
  font-size: 5vh;
  /* overflow: hidden; */
}

.chart{
  width: 100%;
  text-align: center;
}

.index-js{
  object-fit: cover;
  width: 900px;
  height: 650px;
}

.sub-titles{
  height: 90%;
}

.sub-title{
  color: rgb(122, 92, 92);
  border-bottom: solid 2px rgb(211, 178, 178);
  font-size: 3vh;
  overflow: hidden;
  text-align: left;
  margin: 15px 0;
}

.sub-explanation{
  font-size: 2.5vh;
  color: rgb(70, 70, 70);
  text-align: left;
  margin-bottom: 30px;
}

/* arrow */
.open, .close{
  display: none;
}

.hide-checkbox{
  position: absolute;
  left: -50vw;
}

@media screen and (max-width: 1000px) {
  .side-top{
    margin-top: 0;
  }

  .center{
    height: calc(100% - 30px);
    display: flex;
    overflow: scroll;
  }

  .main-right{
    width: 100%;
  }
  .main-title{
    font-size: 30px;
    padding-top: 5px;
  }

  .sub-title{
    font-size: 20px;
  }

  .sub-explanation{
    font-size: 20px;
  }

  /* arrow */
  .open, .close{
    display: block;
  }
  .open{
    position: absolute;
    padding: 10px 20px;
    margin-top: 50px;
  }

  .close{
    height: 50px;
  }
  .side{
    position: absolute;
    left: -350px;
    height: 100%;
    transition: all 0.2s;
    background-color: #fff;
  }

  .side-bottom{
    height: calc(100% - 250px);

  }
  input[type="checkbox"]:checked ~ .side {
    left: 0;
  }

  input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(119, 119, 119);
  }

  .index-js{
    object-fit: cover;
    width: 100%;
    height: 515px;
  }
}

@media screen and (max-width: 500px) {

  .side-top{
    margin-top: 0;
  }

  .center{
    height: calc(100% - 30px);
    display: flex;
    overflow: scroll;
  }

  .main-right{
    width: 100%;
  }
  .main-title{
    font-size: 20px;
    padding-top: 5px;
  }

  .sub-title{
    font-size: 15px;
  }

  .sub-explanation{
    font-size: 12px;
  }

  .index-js{
    object-fit: cover;
    width: 100%;
    height: 230px;
  }
}