.center{
  height: calc(100% - 30px);
  display: flex;
  overflow: scroll;
}
.side{
  width: 250px;
  /* background: linear-gradient(to bottom right, rgba(255, 238, 0, 0.24), rgba(255, 0, 200, 0.308));; */
  text-align: center;
  border-right: solid 5px rgba(0, 238, 255, 0.123);
}
.side-tops{
  text-decoration: none;
  color: #000000;
}

.side-top{
  height: 200px;
  /* border-right: linear-gradient(rgb(0, 110, 255), rgb(111, 0, 255)) solid 5px ; */
  border-bottom: solid 5px rgba(0, 238, 255, 0.123);

  margin-top: 50px;
}

.current-user-name{
  font-size: 108%;
  padding: 15px 0px;
}

.type-title{
  font-size: 20px;
}

.current-user-type{
  font-size: 30px;
  padding: 0 0 10px 0;
  margin: 0 10px 10px 10px;
}

.index-logout{
  color: #000000;
}
.user-title{
  width: 100%;
  text-align: center;
  background-color: #e2e7fa;
  color: #0003b0;
}

.users-info{
  padding: 10px 0;
  color: #ff0022
}

.user-info{
  text-decoration: none;
  color: #000dc9;
}
.side-bottom{
  height: calc(100% - 250px);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* border-right: solid 5px rgba(204, 0, 119, 0.137); */
  overflow: scroll;
}

.main-right{
  width: calc(100% - 250px);
  background-image: linear-gradient(rgb(255, 255, 255) 80%, rgb(255, 0, 200) 90%);
  background-image: radial-gradient(
    circle at 100px 200px, rgb(255, 255, 255) 0% 80%, rgba(0, 247, 255, 0.233) 90% 100%
  );
  padding: 5px 20px;
  margin-top: 50px;
  overflow-y: scroll;
}

.main-title{
  height: 10%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 5vh;
  /* overflow: hidden; */
}

.chart{
  width: 100%;
  text-align: center;
}

.index-js{
  object-fit: cover;
  width: 900px;
  height: 650px;
}

.chart-entire{
  position: relative;
}

.lists{
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 20px;
  background-color: rgb(0, 183, 255);
  color: rgb(255, 255, 255);
  width: 100px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.pull-down-list{
  border: 1px solid #eee;
}

.show-lists{
  position: absolute;
  font-size: 20px;
  top: 70px;
  left: 20px;
  background-color: rgb(0, 183, 255);
  color: rgb(255, 255, 255);
  width: 100px;
  text-align: center;
}

.hidden{
  display: none;
}

.sub-titles{
  height: 90%;
}

.sub-title{
  color: rgb(122, 92, 92);
  border-bottom: solid 2px rgb(0, 0, 0);
  font-size: 3vh;
  overflow: hidden;
  text-align: left;
  margin: 15px 0;
}

.sub-explanation{
  font-size: 2.5vh;
  color: rgb(70, 70, 70);
  text-align: left;
  margin-bottom: 30px;
}

/* arrow */
.open, .close{
  display: none;
}

.hide-checkbox{
  position: absolute;
  left: -50vw;
}

@media screen and (max-width: 1000px) {
  #chart-entire2{
    display: none;
  }

  .side-top{
    margin-top: 0;
  }

  .center{
    height: calc(100% - 30px);
    display: flex;
    overflow: scroll;
  }

  .main-right{
    width: 100%;
  }
  .main-title{
    font-size: 30px;
    padding-top: 5px;
  }

  .sub-title{
    font-size: 20px;
  }

  .sub-explanation{
    font-size: 20px;
  }

  /* arrow */
  .open, .close{
    display: block;
  }
  .open{
    position: absolute;
    padding: 10px 20px;
    margin-top: 50px;
  }

  .close{
    height: 50px;
  }
  .side{
    position: absolute;
    left: -350px;
    height: 100%;
    transition: all 0.2s;
    background-color: #fff;
  }

  .side-bottom{
    height: calc(100% - 250px);

  }
  input[type="checkbox"]:checked ~ .side {
    left: 0;
  }

  input[type="checkbox"]:checked ~ .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(119, 119, 119);
  }

  .index-js{
    object-fit: cover;
    width: 100%;
    height: 515px;
  }
}

@media screen and (max-width: 500px) {

  .side-top{
    margin-top: 0;
  }

  .center{
    height: calc(100% - 30px);
    display: flex;
    overflow: scroll;
  }

  .main-right{
    width: 100%;
  }

  .main-title{
    font-size: 20px;
    padding-top: 5px;
  }

  .sub-title{
    font-size: 15px;
  }

  .sub-explanation{
    font-size: 12px;
  }

  .index-js{
    object-fit: cover;
    width: 100%;
    height: 230px;
  }

.lists{
  font-size: 10px;
  width: 50px;
  height: 20px;
  padding-top: 3px;
}

.show-lists{
  font-size: 10px;
  top: 40px;
  left: 20px;
  width: 50px;
}
}