
.all{
  display: flex;
  flex-direction: column;
  text-align: center;
}

  .title {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .title h1 {
    font-size: 70px;
    color: rgb(129, 109, 109);
  }

.explanation-new{
  margin-top: 20px;
  font-size: 25px;
  color: rgb(129, 109, 109);
}

.start{
  padding: 100px 0px;
  font-size: 70px;
}

.questions {
  margin: 30px auto;
}

.question{
  display: flex;
  height: 50px;
  width: 900px;
  cursor: pointer;
}

.question p {
  justify-content: center;
  margin-left: 10px;
  color: rgb(133, 133, 133);
}

.checks{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.checks label {
  background-color: rgb(255, 255, 255);
  border-bottom: solid 4px rgb(233, 233, 233);
  align-items: center;
  justify-content: space-between;
}

.question input{
  width: 30px;
  height: 30px;
  margin-right: 50px;
  cursor: pointer;
}

.sum-btn button{
  height: 80px;
  width: 200px;
  font-size: 30px;
  color: rgb(129, 109, 109);
  margin: 20px 0 ;
  cursor: pointer;
}

#result{
  display: none;
}

#result2{
  display: block;
  animation: SlideIn 1.0s;
}

@keyframes SlideIn {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.enneagram_types{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-right: 300px;
  color: rgb(129, 109, 109);
}

.enneagram_type{
  padding-bottom: 20px;
}

.enneagram_radar{
  display: flex;
}

.count_num{
  width: 100px;
  text-align: center;
}

.type_select{
  width: 200px;
  height: 50px;
  font-size: 30px;
  padding-left: 10px;
  color: rgb(129, 109, 109);

}

.decision{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.result-btn{
  width: 100px;
  margin-left: 20px;
  font-size: 30px;
  color: rgb(129, 109, 109);
}

.field_with_errors {
  display: contents;
}

@media screen and (max-width: 1000px) {
  .bar{
    height: 30px;
  }

  .title h1{
    font-size: 53px;
  }

  .explanation-new{
    font-size: 25px;
  }

  .start{
    font-size: 30px;
  }

  .checks{
    font-size: 20px;
  }

  .question{
    width: 95%;
    margin: 0 auto;
  }

  .question p{
    margin-left: 2px;
    text-align: left;
  }

  .question input{
    margin-right: 5px;
    width: 15px;
  }

  .sum-btn button{
    height: 47px;
    width: 142px;
    font-size: 17px;
  }

  .enneagram_types{
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .decision-text{
    font-size: 20px;
  }

  .count_num{
    width: 64px;
  }

  .type_select{
    height: 60px;
    width: 142px;
    font-size: 20px;
  }

  .result-btn{
    width: 70px;
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .bar{
    height: 30px;
  }
  .title h1{
    font-size: 25px;
  }

  .explanation-new{
    font-size: 14px;
  }

  .start{
    font-size: 20px;
  }

  .checks{
    font-size: 10px;
  }

  .question{
    width: 95%;
    margin: 0 auto;
  }

  .question p{
    margin-left: 2px;
    text-align: left;
  }

  .question input{
    margin-right: 5px;
    width: 15px;
  }

  .sum-btn button{
    height: 47px;
    width: 142px;
    font-size: 17px;
  }

  .enneagram_types{
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
  }

  .decision-text{
    font-size: 11px;
  }

  .count_num{
    width: 64px;
  }

  .type_select{
    height: 47px;
    width: 142px;
    font-size: 17px;
  }

  .result-btn{
    width: 70px;
    font-size: 25px;
  }
}