.entire{
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.bar{
  height: 30px;
  background-color: rgb(62, 62, 62);
  }

.main{
  background-color: rgb(255, 255, 255);
  height: calc(100% - 10%);
  display: flex;
}

.left{
  height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.right{
  height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.session-title{
  color:rgb(170, 84, 84);
  font-size: 6vh;
  margin: 5vh 5vh;
}

.registration-title{
  color:rgb(170, 84, 84);
  font-size: 6vh;
  margin: 2vh 5vh;
}

.devise-errors{
  color: rgb(165, 25, 25);
  font-size: 2vh;
  margin-left: 10vh;
}

.input-session{
  font-size: 1.5vw;
  color: rgb(112, 112, 112);
  border-color: rgb(230, 230, 230);
  border-radius: 10px;
  background-color: rgb(255, 247, 247);
  text-overflow: ellipsis;
  width: 70%;
  height: 8vh;
  margin: 2vh 10vh;
  padding-left: 10px;
}

.input-registration{
  font-size: 1.5vw;
  color: rgb(112, 112, 112);
  border-color: rgb(230, 230, 230);
  border-radius: 10px;
  background-color: rgb(255, 247, 247);
  text-overflow: ellipsis;
  width: 70%;
  height: 8vh;
  margin: 0 10vh 2vh 10vh;
  padding-left: 10px;
}

.devise-btn{
  font-size: 2vw;
  color: white;
  border-color: rgb(207, 207, 207);
  border-radius: 10px;
  background-color: rgb(170, 84, 84);
  width: 71%;
  height: 10vh;
  margin: 2vh 10vh;
  cursor: pointer;
}

.devise-links{
  margin-left: 10vh;
}

.devise-text{
  text-decoration: none;
  color: rgb(170, 84, 84);
  font-size: 3vh;
}

.image-logo{
  height: 60%;
  width: 60%;
  margin: 15% 0;
  margin-left: 19%;
}

.attention{
  color:rgb(170, 84, 84);
  font-size: 3vw;
}

.attention-second{
  text-decoration: underline;
}

.explanation{
  position: absolute;
  top: 20%;
  text-align: center;
  width: 50%;
}

.explanation p {
  font-size: 4.7vh;
}

@media screen and (max-width: 1000px) {
  .main{
    background-color: rgb(255, 255, 255);
    height: calc(100% - 60px);
    flex-direction: column;
  }
  .left{
    width: 100%;
  }

  .right{
    display: none;
  }
  .session-title{
    font-size: 3vh;
  }

  .input-session{
    margin: 2vh 7vh;
    font-size: 2vh;
  }

  .input-registration{
    margin: 0 7vh 2vh 7vh;
    font-size: 2vh;
  }

  .devise-btn{
    margin: 2vh 7vh;
    font-size: 2vh;
  }
}